<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/tarcea" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/ghtarcea/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/gheorghe.tarcea" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/GheorgheTarcea" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/gheorghe-tarcea-0a2b4589" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>

  <div class="footer-copyright">

  </div>
</div>
