<!-- this is just a temporary file -->
<div class="container">
  <div class="card-white">
    <h2>Gheorghe Tarcea</h2>
    <ul class="list-inline">
      <li>
        <a href="mailto:contact@gheorghetarcea.com" target="_blank">
             contact@gheorghetarcea.com
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/gheorghe.tarcea" target="_blank">
          <i class="fab fa-facebook-square"></i>
        </a>
      </li>
      <li>
        <a href="https://github.com/tarcea" target="_blank">
          <i class="fab fa-github-square"></i>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/ghtarcea/" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/gheorghe-tarcea-0a2b4589" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
      </li>
      <li>
        <a href="http://www.gheorghetarcea.com" target="_blank">
           http://www.gheorghetarcea.com
        </a>
      </li>
      </ul>
       <p>Page under construction ....</p>
    </div>
 <div class="row row-cols-1 row-cols-md-2">
  <div class="col mb-4">
    <div class="card">
      <img src="<%= asset_path('fantanele1.jpg') %>" class="card-img-top" alt="unu">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="<%= asset_path('fantanele1.jpg') %>" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="<%= asset_path('fantanele1.jpg') %>" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="<%= asset_path('fantanele1.jpg') %>" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
</div>
</div>

