<div class="container">
  <div class="card-white text-center" style="position: relative;">
    <div class="d-flex justify-content-around">
      <%= octicon "alert", :height => 99 %>
      <p style="position: absolute; top: 12px;">Under construction</p>
    </div>
  </div>
</div>
