<div class="container">

    <div class="card-white text-center" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1484191914255-a429e6f819b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80); background-size: cover;">
      <h1>Contact</h1>
    </div>

    <div class="card-white text-center">
      <div class="d-flex justify-content-between contact">
        <a href="https://github.com/tarcea" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://www.instagram.com/ghtarcea/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com/gheorghe.tarcea" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://twitter.com/GheorgheTarcea" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://www.linkedin.com/in/gheorghe-tarcea-0a2b4589" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="mailto:contact@gheorghetarcea.com" target="_blank"><i class="fas fa-envelope-square"></i></a>
      </div>
    </div>

    <div class="card-white text-center">
      <div class="d-flex justify-content-between contact">
        <p>0046704024031 <i class="fas fa-phone"></i></p>
        <p>gheorghe.tarcea <i class="fab fa-skype"></i></p>

      </div>
    </div>
