<!-- <div class="container"> -->
<!-- <div class="row justify-content-center"> -->
<div class="card-white text-center">
  <div class="icons">
      <i class="devicon-ruby-plain"></i>
      <i class="devicon-rails-plain"></i>
      <i class="devicon-postgresql-plain"></i>
      <i class="devicon-javascript-plain"></i>
      <i class="devicon-react-original"></i>
      <i class="devicon-heroku-original"></i>
      <i class="devicon-bootstrap-plain"></i>
      <i class="devicon-html5-plain"></i>
      <i class="devicon-css3-plain"></i>
      <i class="devicon-git-plain"></i>
      <i class="devicon-github-plain"></i>
      <i class="devicon-slack-plain"></i>
      <i class="devicon-trello-plain"></i>
    </div>
  <div class="row justify-content-center">
    <h6><span id="effect"></span></h6>
  </div>

<div class="card-white">
  <div class="row justify-content-center">
    <img src="<%= asset_path('fantanele1.jpg') %>" alt="" style="max-width:100%; max-height:100%;">
    </h6>
  </div>
</div>
 <!--  <figure class="hover-menu">
    <img src="<%= asset_path('fantanele1_marked.jpg') %>" />
    <div>
      <a href="https://github.com/tarcea" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://www.instagram.com/ghtarcea/" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://www.facebook.com/gheorghe.tarcea" target="_blank"><i class="fab fa-facebook"></i></a>
      <a href="https://twitter.com/GheorgheTarcea" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://www.linkedin.com/in/gheorghe-tarcea-0a2b4589" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="mailto:contact@gheorghetarcea.com" target="_blank"><i class="fas fa-envelope-square"></i></a>
    </div>
  </figure> -->

  <!-- <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem quisquam ea officia dicta, totam cupiditate aspernatur, repellendus veniam dolorum rem eveniet. Voluptatem vero et animi quisquam officia distinctio similique unde!</h1> -->
  <!-- <div class="row">
    <p>RoR development for <span id="effect"></span></p>
  </div> -->
<div class="card-white">
  <div class="row justify-content-center">
    <h6>contact@gheorghetarcea.com<br>
      0046704024031
    </h6>
  </div>
</div>

</div>
<!-- </div> -->
<!-- </div> -->



