<div class="container">
  <div class="card-white text-center">
    <div id="mailto">
        <a href="mailto:contact@gheorghetarcea.com" target="_blank">
          contact@gheorghetarcea.com
        </a>
      </div>
  </div>
</div>
