<div class="row justify-content-center">
  <div class="card-white text-center">
    <p>Explore nature and discover</p>
    <figure class="hover-menu">
      <img src="<%= asset_path('fantanele1_marked.jpg') %>"/>
      <div>
        <a href="https://github.com/tarcea" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://www.instagram.com/ghtarcea/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com/gheorghe.tarcea" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://twitter.com/GheorgheTarcea" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://www.linkedin.com/in/gheorghe-tarcea-0a2b4589" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="mailto:contact@gheorghetarcea.com" target="_blank"><i class="fas fa-envelope-square"></i></a>
      </div>
    </figure>
  </div>
</div>



