<body class="landing">
    <div class="row d-flex flex-column justify-content-center">
      <h1 class="main-text"> Hi, I am your web developer, check this out... </h1>
      <%= link_to "If you want more infos...", home_path, class: "btn" %>
    </div>
</body>
