<!-- <div class="container"> -->

    <div class="card-white text-center" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1518933165971-611dbc9c412d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2689&q=80); background-size: cover;">
      <h1>Resources</h1>
    </div>

    <div class="card-white text-center" style="position: relative;">
      <div class="d-flex justify-content-around">
        <%= octicon "alert", :height => 99 %>
        <p style="position: absolute; top: 12px;">Under construction</p>
      </div>
    </div>

    <div class="card-white text-center">
      <i class="devicon-ruby-plain"></i>
    </div>

    <div class="card-white text-center">
      <i class="devicon-rails-plain"></i>
    </div>

    <div class="card-white text-center">
      <i class="devicon-postgresql-plain"></i>
    </div>

    <div class="card-white text-center">
      <i class="devicon-javascript-plain"></i>
    </div>

    <div class="card-white text-center">
      <i class="devicon-react-original"></i>
    </div>

    <div class="card-white text-center">
      <i class="devicon-heroku-original"></i>
    </div>

    <div class="card-white text-center">
      <i class="devicon-bootstrap-plain"></i>
    </div>

    <div class="card-white text-center">
      <i class="devicon-html5-plain"></i>
    </div>

    <div class="card-white text-center">
      <i class="devicon-css3-plain"></i>
    </div>

    <div class="card-white text-center">
      <i class="devicon-github-plain"></i>
    </div>

    <div class="card-white text-center">
      <i class="devicon-trello-plain"></i>
    </div>

    <div class="card-white text-center">
       <i class="devicon-git-plain"></i>
    </div>

<!-- </div> -->




