
<div class="container">

    <div class="card-white text-center" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1543857778-c4a1a3e0b2eb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2753&q=80); background-size: cover;">
      <h1>My projects</h1>
    </div>
  <a href="https://travel-worms.herokuapp.com/" target="new">
    <div class="card-white text-center">
      <h2>Travel Worms</h2>
    </div>
  </a>

  <a href="https://stockholm376-rent-a-pet.herokuapp.com/" target="new">
    <div class="card-white text-center">
      <h2>Rent a Pet</h2>
    </div>
  </a>

  <a href="https://choose-life-renton-mama.herokuapp.com/" target="new">
    <div class="card-white text-center">
      <h2>Cocktails</h2>
    </div>
  </a>

  <a href="https://tarcea.github.io/profile/" target="new">
    <div class="card-white text-center">
      <h2>Profile</h2>
    </div>
  </a>


<!-- <div class="cards">
    <a href="https://travel-worms.herokuapp.com/">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(https://i.imgur.com/u83BZVN_d.webp?maxwidth=640&shape=thumb&fidelity=medium)">
      <div class="text"></div>
      </div>
    </a>

    <a href="https://stockholm376-/rent-a-pet.herokuapp.com/">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(https://i.imgur.com/C5u71VK.jpg)">
      <div class="text"></div>
      </div>
    </a>

    <a href="https://choose-life-renton-mama.herokuapp.com/">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(https://i.imgur.com/ikRRZO1.jpg)">
      <div class="text-center"></div>
      </div>
  </a>

    <a href="https://choose-life-renton-mama.herokuapp.com/">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(https://images.unsplash.com/photo-1503965830912-6d7b07921cd1?ixlib=rb-1.2.1&auto=format&fit=crop&w=2767&q=80); background-size: cover;">
      </div>
  </a>

    <a href="https://choose-life-renton-mama.herokuapp.com/">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(https://images.unsplash.com/photo-1496851925983-9c879a7038de?ixlib=rb-1.2.1&auto=format&fit=crop&w=2304&q=80)">
      </div>
  </a>

    <a href="https://choose-life-renton-mama.herokuapp.com/">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(https://images.unsplash.com/photo-1539946309076-4daf2ea73899?ixlib=rb-1.2.1&auto=format&fit=crop&w=2700&q=80)">
      </div>
  </a>

    <a href="https://choose-life-renton-mama.herokuapp.com/">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(https://source.unsplash.com/random)">
      </div>
  </a>

    <a href="https://choose-life-renton-mama.herokuapp.com/">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(https://source.unsplash.com/random)">
      </div>
  </a>

    <a href="https://choose-life-renton-mama.herokuapp.com/">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(https://source.unsplash.com/random)">
      </div>
  </a>
</div> -->
</div>
