.card-white {
  position: relative;
  background-color: white;
  padding: 32px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 20px 0px;
  // position: absolute;
  // text-align: center;
  justify-content: center;


  p {
    // position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    font-weight: 200;
  }

  h1 {
    // position: relative;
    font-family: 'Montserrat', sans-serif;
    // font-size: 19px;
    font-weight: 100;
    color: white;
  }

  h2 {
    // position: relative;
    font-family: 'Montserrat', sans-serif;
    // font-size: 19px;
    font-weight: 100;
    color: black;
    text-decoration: none;
  }

  h2:hover {
    color: orange;
  }

  h6 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin: 16px 0 16px 0;
  }

}

a:hover {
  text-decoration: none;
}

.container {
  padding: 24px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline li {
  display: inline-block;
  padding: 0px 20px;
  margin: 16px;
}

// span {
//   // position: absolute;
//   transform: translate(-50%, 50%);

// }

#effect {
  transform: translate(300%);

}

// @media (max-width: 960px) {
//   /* For a screen < 960px, this CSS will be read */
//   .container {
//     width: 700px;
//     margin: 40px auto;
//   }
// }
// @media (max-width: 720px) {
//   /* For a screen < 720px, this CSS will be read */
//   .container {
//     width: 500px;
//     margin: 40px auto;
//   }
// }
// @media (max-width: 540px) {
//   /* For a screen < 540px, this CSS will be read */
//   .container {
//     width: 400px;
//     margin: 40px auto;
//   }
// }
//LW
.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}



.contact {
  a {
    color: black;
    font-size: 36px;
  }

  a:hover {
    color: grey;
  }
  margin-top: 20px;
  margin-bottom: 20px;
}

.icons {
  // color: #167FFB;
  color: black;
  text-decoration: none;
  font-weight: 100;
}

.bg-light {
  background-color: white !important;
}

.landing {
    background-color: white;
    margin-bottom: 16px;
  h1 {
    color: #434e52;
    font-weight: 200;
  }

  p {
    color: #434e52;
  }

  .btn {
    background-color: #ecce6d;
    color: black;
  }

  .btn:hover {
    background-color: #b0a160;
    color: #434e52;
  }

  .card {
    margin-top: 8px;
  }

}

.ics {
  position: absolute;
  top: 10px;
  right: 10px;
}

.discipline {
  position: absolute;
  bottom: 5px;
  right: 10px;
}

.mt {
  margin-top: 16px;
}

.margin-box {
  margin-bottom: 8px;
}
