body.landing {
    background-color: white;
  h1 {
    color: #434e52;
    font-weight: 200;
  }

  p {
    color: #434e52;
  }

  .btn {
    background-color: #ecce6d;
    color: black;
  }

  .btn:hover {
    background-color: #b0a160;
    color: #434e52;
  }

  .card {
    margin-top: 8px;
  }

}

.main-text {

}

.big {
  font-size: 100px;
  color: #ecce6d;
}

.badge-pill {
  font-weight: 300;
  border-radius: 10%;
  background-color: #ecce6d;
  color: black;
}

.skills {
  padding: 16px;
}
