body.landing {
    background-color: #5b8c85;
  h1 {
    color: #434e52;
  }

  .btn {
    background-color: #ecce6d;
    color: black;
  }

  .btn:hover {
    background-color: #b0a160;
    color: #434e52;
  }

}

.main-text {

}

.big {
  font-size: 100px;
  color: #ecce6d;
}
